.ship-method{
    padding:3px 0px;
    color:#EEE;
    cursor: pointer;
    letter-spacing: 0px;
    display: inline !important;
    text-align: center;
}

.location-icon{
    font-size: 15px;
}
.drop-icon{
    font-size: 10px !important;
    padding-top: 5px;
}

.social-header{
    display: block;
    text-align: right !important;
    
}


  .social-header a{
    color : inherit;
    font-size: 15px;
    color:#EEE;
    opacity: 50%;
  }
  
  .social-header a :hover{
    color:#EEE;
  }

  .menu-header{
    padding:16px !important;
  }
  .menu-body{
    background-color: #fefbf7 !important;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .menu-icon{
    display: flex;
    justify-content: start;
  }
  .header-icon{
    font-size: 22px;
    display: flex;
    justify-content: end;
  }

  .home-tab{
    display: flex;
    justify-content: center;
  }

  .cakes-tab{
    display: flex;
    justify-content: center;
  }

  .menu-cat-img{
    border-radius:50%;
    width: 229px;
  }
  .card-body{
    text-align: center;
    font-weight: 500 !important;

  }

  .menu-items{
    background-color: #fefbf7 !important;
  }

  .badge{
    color:#909090!important;
    background-color: #f5f5f5 !important;
    font-weight: 400 !important;
  }

  .card{
    background-color: #fefbf7 !important;
  }

  .section-head{
    font-size: 48px;
    font-weight: 700;
    color:#111
  }

  .sidemenu{
    display: block;
    padding:0px 40px;
    margin-top: 26px;
    border-radius: 30px;
    color: #333;
    background-color: #f7f3ed;
   }

   

   .sticky-menu{
    overflow-y: scroll;
    position:sticky;
    top: 80px;
    z-index: 1000;
    padding-bottom: 64px;
    margin:48px 0px;
   }

   .categories-btn{
    font-weight: 500 !important;
    padding: 8px 12px;
    border-radius: 4px;
    border-color: #a6a6a6;
    margin-bottom: 32px;
   }

   .sidemenu a{
    font-size: 13px;
    color: #333;
   }

   .category-list{
    display: block;
    margin-bottom: 10px;
   }

   .cat-eyebrow{
    margin-bottom: 24px !important;
    padding: 8px 0px ;
   }

   .nav-category{
    list-style: none;
    display: flex;
    flex-direction: column;
    padding-left: 0px;
   }

   .list-styled{
    list-style: none;
    padding-left: 0px;
   }

   .list-styled-item{
    margin-bottom: 15px;
   }
   .list-styled-link{
    margin-top:10px;
    display: block;
   }

   .custom-checkbox{
    padding-left: 0;
    position:relative;
    display: block;
    min-width: 1.5rem;
   }

   .custom-control-input{
    position: absolute;
    left: 0;
    /* z-index: -1; */
    width: 1.125rem;
    height: 1.3125rem;
    opacity: 1;
   }

   .custom-control-label{
    position:relative;
    margin-top: 0;
    vertical-align: top;
    padding-left: 2rem;
    color:#767676;
    cursor:pointer;
   }


   /* .custom-checkbox {
    padding-left: 0px;
    position: relative;
    display: flex; 
    align-items: center; 
}

.custom-control-input {
    width: 1.5rem;
    height: 1.3125rem;
    opacity: 1;
    margin-right: 0.5rem; 
}

.custom-control-label {
    margin-top: 0;
    vertical-align: top;
    color: #767676;
    cursor: pointer;
} */

.menu-products{
  padding : 48px 48px;
}

.product-category{
  padding: 0px 80px 40px 80px
}

.product-heading{
  margin-top:30px;
  padding-top:48px;
  margin-bottom: 20px;
  color: #47525d;
  font-weight: 700 !important;
  letter-spacing: -0.1rem;
}

.product-card{
  background-color:#FFF !important;
}

.p-summary{
  color: #999;
  display: block;
  line-height: 1.1rem;
  font-size: 13px;
}

.p-price{
  margin-top: 4px;
  margin-bottom: 4px;
  font-size: 14px ;
  font-weight: 500 ; 
  color: #999;
}

.product-body{
  width: 210px;
}

.p-add-button{
  margin-left: 8px;
  margin-top: -16px;
  position: relative;
  color:#383838;
}

.btn-add{
  background-color:#FFF !important;
  border: 1px solid #DDD !important;
  border-radius: 6px !important;
  height: 30px !important;
  margin-top: 0px !important;
  padding: 2px 24px!important;
  font-size: 12px !important;
  font-weight: 500 !important;
}



  