.ship-method{
    padding:3px 0px;
    color:#EEE;
    cursor: pointer;
    letter-spacing: 0px;
    display: inline !important;
    text-align: center;
}

.location-icon{
    font-size: 15px;
}
.drop-icon{
    font-size: 10px !important;
    padding-top: 5px;
}

.social-header{
    display: block;
    text-align: right !important;
    
}


  .social-header a{
    color : inherit;
    font-size: 15px;
    color:#EEE;
    opacity: 50%;
  }
  
  .social-header a :hover{
    color:#EEE;
  }

  .menu-header{
    padding:16px !important;
  }

  .header{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .menu-icon{
    display: flex;
    justify-content: start;
  }
  .header-icon{
    font-size: 22px;
    display: flex;
    justify-content: end;
  }

  .home-tab{
    display: flex;
    justify-content: center;
  }

  .cakes-tab{
    display: flex;
    justify-content: center;
  }

  .menu-cat-img{
    border-radius:50%;
    width: 229px;
  }
  .card-body{
    text-align: center;
    font-weight: 500 !important;
  }

  .menu-items{
    background-color: #fefbf7 !important;
  }

  .sidemenu{
    display: block;
    padding:0px 40px;
    margin-top: 26px;
    border-radius: 30px;
    color: #333;
    background-color: #f7f3ed;
   }

   

   .sticky-menu{
    overflow-y: scroll;
    position:sticky;
    top: 80px;
    z-index: 1000;
    padding-bottom: 64px;
    margin:48px 0px;
   }

   .categories-btn{
    font-weight: 500 !important;
    padding: 8px 12px;
    border-radius: 4px;
    border-color: #a6a6a6;
    margin-bottom: 32px;
   }

   .sidemenu a{
    font-size: 13px;
    color: #333;
   }

   .category-list{
    display: block;
    margin-bottom: 10px;
   }
  